/*main-image*/
#main-image {
  img {
    max-width: 100%;
    width: 100%;
  }
}
/*info-content*/
.box {
  width: 29%;
  float: left; }

.box + .box {
  margin-left: 6.25%; }

.box-benefits-list {
  list-style: none;
  margin: 0;
  padding: 0; 
  
  li {
  padding-left: 0.0003%;
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: top left; }
}


.box-link {
  font-size: $font;
  font-style: italic;
  @include transform;
  color: $third-color; }

/*portfolio-content*/
.box-img {
  width: 22.3%;
  float: left; }

.box-img {
  a,  img {
    display: block; }
}

.box-img + .box-img {
  margin-left: 3.5%; }